.about-us{
    background-color: #FFF9EC;
    padding: 0 20px;
}

.about-us-content {
    max-width: 1000px;
    padding: 25px 0;
    margin: 0 auto;
}

.about-us-title {
    margin-bottom: 20px;
    font-family: 'Cormorant Infant', serif;
}

@media screen and (max-width: 576px){
    .about-us-title {
        text-align: center;
    }

    .about-us-content p {
        text-align: justify;
        font-size: 14px;
    }
}

.arts {
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.carousel {
    width: 100%;
}

.carousel-item img {
    height: auto;
    width: 70%;
    max-width: 800px;
    margin: 0 auto;
    display: block;
    border-radius: 5px;
}

.carousel-item h2 {
    width: fit-content;
    margin: 20px auto 15px;
    font-family: 'Cormorant Infant', serif;
    font-size: 40px;
}

.carousel-item p {
    width: fit-content;
    margin: 0 auto;
    color: #5c636a;
    font-weight: 300;
    font-size: 20px;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
    height: auto;
    width: 35%;
    min-width: 45px;
}

.collections-btn {
    border-radius: 5px;
    width: 100%;
    margin: 15px 30px;
    text-align: center;
    border-color: #B5838D;
}

.collections-btn:hover {
    background-color: #B5838D;
}

@media screen and (max-width: 768px){
    .carousel-item h2 {
        font-size: 32px;
    }

    .carousel-item p {
        font-size: 18px;
    }
}

@media screen and (max-width: 576px){
    .carousel-item h2 {
        font-size: 25px;
    }

    .carousel-item p {
        font-size: 15px;
    }
}

.clients{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #FFDCCC;
    flex-wrap: wrap;
    margin: 50px 0;
}

.client {
    background-color: white;
    min-height: 540px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 40px 50px;
    width: 300px;
    box-shadow: 5px 5px 5px #a19a9a;
    transition: all 0.3s ease-in-out;
}

.client:hover {
    scale: 1.02;
}

.image-container {
    width: 300px;
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.client img {
    height: 300px;
    width: 100%;
}

.client h5 {
    font-family: 'Cormorant Infant', serif;
    font-size: 30px;
    padding-top: 20px;
}
.client p{
    text-align: center;
    padding: 20px 10px 0;
    width: 100%;
}

.clients .client:last-child {
    background-color: transparent;
    box-shadow: none;
    display: flex;
    justify-content: center;
}

.lds-grid {
    display: inline-block;
    position: relative;
    width: 80px;
    height: 80px;
}

.lds-grid div {
    position: absolute;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    background: #fff;
    animation: lds-grid 1.2s linear infinite;
}

.lds-grid div:nth-child(1) {
    top: 8px;
    left: 8px;
    animation-delay: 0s;
}

.lds-grid div:nth-child(2) {
    top: 8px;
    left: 32px;
    animation-delay: -0.4s;
}

.lds-grid div:nth-child(3) {
    top: 8px;
    left: 56px;
    animation-delay: -0.8s;
}

.lds-grid div:nth-child(4) {
    top: 32px;
    left: 8px;
    animation-delay: -0.4s;
}

.lds-grid div:nth-child(5) {
    top: 32px;
    left: 32px;
    animation-delay: -0.8s;
}

.lds-grid div:nth-child(6) {
    top: 32px;
    left: 56px;
    animation-delay: -1.2s;
}

.lds-grid div:nth-child(7) {
    top: 56px;
    left: 8px;
    animation-delay: -0.8s;
}

.lds-grid div:nth-child(8) {
    top: 56px;
    left: 32px;
    animation-delay: -1.2s;
}

.lds-grid div:nth-child(9) {
    top: 56px;
    left: 56px;
    animation-delay: -1.6s;
}

@keyframes lds-grid {
    0%, 100% {
        opacity: 1;
    }
    50% {
        opacity: 0.5;
    }
}
