@keyframes shake {
    0% { transform: translateX(0); }
    25% { transform: translateX(-10px); }
    50% { transform: translateX(10px); }
    75% { transform: translateX(-10px); }
    100% { transform: translateX(0); }
}

.header-content .col1 {
    text-align: center;
}

.register-form {
    display: flex;
    flex-direction: column;
    max-width: 800px;
    margin: 0 auto;
    padding: 50px 20px 100px;
}

.register-form h2 {
    margin: 15px 0;
    font-weight: 300;
    text-align: center;
}

.register-form label {
    padding-bottom: 8px;
}

.register-form input {
    outline: none;
}

.register-form input:active,
.register-form input:focus {
    border-color: #FB6376;
    box-shadow: 0 0 0 0.25rem #FCB1A6;
}

#file-input {
    box-shadow: none;
    margin-left: 5px;
}

#file-input::file-selector-button{
    display: none;
}

.register-form > img {
    margin: 0 auto;
    width: 140px;
    height: auto;
}

.file-label {
    display: flex;
    width: fit-content;
    align-items: center;
    padding: 5px 10px;
    border-radius: 5px;
    border: 1px solid #CED4DA;
    margin-top: 15px;
    cursor: pointer;
}

.file-label img {
    margin-left: 10px;
    margin-top: 5px;
    width: 25px;
    height: auto;
}

.ref-to-login{
    padding: 5px 0 0 5px
}

.ref-to-login:hover {
    color: #B5838D;
}

.outlined-btn {
    margin-top: 30px;
    border-radius: 5px;
    text-align: center;
}

@media screen and (max-width: 768px){
    .register-form > img {
        width: 80px;
    }
}

.shake {
    animation: shake 0.5s;
}

.password-input {
    position: relative;
    width: 100%;
}

.password-input input {
    width: 100%;
    padding-right: 12px;
}

.password-input button {
    display: flex;
    border: none;
    outline: none;
    background-color: inherit;
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
}
.password-input button img{
    width: 15px;
    height: auto;
}

.gender-buttons {
    display: flex;
    padding: 10px 0;
}

.gender-buttons div {
    margin-right: 30px;
}

.gender-buttons div label{
    padding-bottom: 0;
}

.table-controls{
    margin: 0 auto;
    padding: 0 20px;
    max-width: 1500px;
}

.table-responsive {
    padding: 0 20px;
}

.table-controls button{
    padding: 8px 15px;
    margin-right: 20px;
}

.custom-table {
    margin: 20px auto 40px;
    max-width: 1500px;
    padding: 0 20px;
}

.custom-table th,
.custom-table td{
    border: none;
    text-align: center;
    background-color: transparent;
    border-bottom: 1px solid black;
}

.custom-table td{
    border-bottom: 1px solid #dedede;
}