.header-content .col {
    text-align: center;
}

.register-form {
    display: flex;
    flex-direction: column;
    max-width: 800px;
    margin: 0 auto;
    padding: 50px 20px 200px;
}

.register-form h2 {
    margin: 15px 0;
    font-weight: 300;
    text-align: center;
}

.register-form label {
    padding-bottom: 8px;
}

.register-form input {
    outline: none;
}

.register-form input:active,
.register-form input:focus {
    border-color: #FB6376;
    box-shadow: 0 0 0 0.25rem #FCB1A6;
}

#file-input {
    box-shadow: none;
    margin-left: 5px;
}

#file-input::file-selector-button{
    display: none;
}

.register-form > img {
    margin: 0 auto;
    width: 140px;
    height: auto;
}

.file-label {
    display: flex;
    width: fit-content;
    align-items: center;
    padding: 5px 10px;
    border-radius: 5px;
    border: 1px solid #CED4DA;
    margin-top: 5px;
    cursor: pointer;
}

.file-label img {
    margin-left: 10px;
    margin-top: 5px;
    width: 25px;
    height: auto;
}

.ref-to-login{
    padding: 5px 0 0 5px
}
.ref-to-login:hover {
    color: #B5838D;
}

.outlined-btn {
    margin-top: 30px;
    border-radius: 5px;
    text-align: center;
}

@media screen and (max-width: 768px){
    .register-form {
        padding: 40px 20px 100px;
    }

    .register-form > img {
        width: 80px;
    }
}