@import url('https://fonts.googleapis.com/css2?family=Cormorant+Infant:wght@300;400;500;600;700&family=Mulish:wght@200;300;400;500;600&display=swap');
* {
    font-family: 'Mulish', sans-serif;
    box-sizing: border-box;
}

header {
    border-bottom: 1px solid #5D2A42;
}

.header-logo {
    padding: 20px 0;
    margin: 0;
    font-family: 'Cormorant Infant', serif;
}

.login-register {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.header-btn {
    border: 1px solid #5D2A42;
    border-radius: 25px;
    font-size: 20px;
    font-weight: 300;
    padding: 6px 20px;
    margin-left: 15px;
}

.header-btn:hover {
    background-color: #5D2A42;
    color: white;
}

.about-us{
    padding: 40px 280px;
    background-color: #FFF9EC;
}

.about-us-text {

}
.about-us-title {
    padding-bottom: 20px;
}