@import url('https://fonts.googleapis.com/css2?family=Cormorant+Infant:wght@300;400;500;600;700&family=Mulish:wght@200;300;400;500;600&display=swap');
* {
    font-family: 'Mulish', sans-serif;
    box-sizing: border-box;
}

header {
    border-bottom: 1px solid #5D2A42;
}

.header-logo {
    min-width: 150px;
    padding: 20px 0;
    margin: 0;
    font-family: 'Cormorant Infant', serif;
}

.login-register {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.header-btn {
    border: 1px solid #5D2A42;
    border-radius: 25px;
    font-size: 20px;
    font-weight: 300;
    padding: 6px 20px;
    margin-left: 15px;
}

.header-btn:hover {
    background-color: #5D2A42;
    color: white;
}

.about-us{
    background-color: #FFF9EC;
    padding: 0 20px;
}

.about-us-content {
    max-width: 1000px;
    padding: 25px 0;
    margin: 0 auto;
}

.about-us-title {
    margin-bottom: 20px;
    font-family: 'Cormorant Infant', serif;
}

@media screen and (max-width: 576px){
    .header-logo,
    .login-register {
        display: flex;
        justify-content: center;
    }

    .login-register {
        gap: 20px;
    }

    .header-btn {
        font-size: 15px;
        margin-left: 0;
    }

    .about-us-title {
        text-align: center;
    }

    .about-us-content p {
        text-align: justify;
        font-size: 14px;
    }
}

@media screen and (max-width: 408px) {
    .login-register {
        padding-bottom: 15px;
    }
}
